.user {
    overflow: hidden;
    height: 100vh;
    //background: linear-gradient(to right, #0099cc 56%, #33cccc 76%);
    //background: linear-gradient(to right, #0099cc 48%, #33cccc 71%);
    //background: linear-gradient(to right, #0099cc 25%, #33cccc 100%);
    background: linear-gradient(to right, #0099cc 50%, #33cccc 80%);
    &__left{
        @include flex(center,center);
        padding: 2rem 0 2rem 2rem;
        @include tablet{
            display: none;
        }
    }
    &__right{
        color: $white;
    }
}